# kernel/nilos-halium.defconfig — Android Vendor HAL & Halium Requirement
#include "nilos_defconfig"
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_ANDROID_BINDER_IPC_32BIT=n
CONFIG_ASHMEM=y
CONFIG_ION=y
CONFIG_STAGING=y
CONFIG_HID_MULTITOUCH=y
CONFIG_INPUT_UINPUT=y
