# kernel/nilos_x86.defconfig — x86_64 / QEMU VirtIO Delta
#include "nilos_defconfig"
CONFIG_X86_64=y
CONFIG_KVM_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_BLK=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_FB_EFI=y
